<a href="/posts/{{id}}" class="card-link">
    <div id="post-{{id}}" class="card">
        <h2> {{id}}</h2>
        <h3 class="card-title">{{title}}</h3>
        <img class="card-image" src="/{{thumbnail}}" alt="Image not found!">
        <!-- Display ID and title as text -->
        <p>Post ID: {{id}}</p>
        <p>Post Title: {{title}}</p>
    </div>
</a>
